body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

body p {
  color: antiquewhite;
}

body a:hover {
  opacity: 0.8;
}

/* NAV */

h4 {
  font-family: "Megrim", cursive;
  color: antiquewhite;
  border-right: 1px solid antiquewhite;
  padding-right: 8px;
}

h5 {
  font-family: "Megrim", cursive;
  color: antiquewhite;
  text-align: center;
}

.navbar {
  background-color: #0b0c10;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.navbar.scrolled {
  background: rgb(68, 68, 68); /* IE */
  background: rgba(0, 0, 0, 0.4); /* NON-IE */
}

.navbar img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.navbar a {
  font-family: "Megrim", cursive;
  color: antiquewhite;
}

.social-media i {
  width: 20px;
  font-size: 25px;
  color: antiquewhite;
}

.background-img {
  /* The image used */
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1e/A_blank_black_picture.jpg");

  /* Set a specific height */
  height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#img1 {
  width: 350px;
  margin: 15%;
}

#img2 {
  width: 350px;
  margin-top: 15%;
  margin-bottom: 15px;
}

.profile-text p {
  margin: 10%;
}

hr {
  display: none;
}

@media (min-width: 992px) {
  .gallery-block .transform-on-hover:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }

  h5 {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .background-img {
    /* The image used */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1e/A_blank_black_picture.jpg");

    /* Set a specific height */
    height: 650px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #img1 {
    width: 350px;
    margin: 12%;
  }

  #img2 {
    width: 350px;
    margin-left: 50px;
  }

  .profile-text p {
    margin: 10%;
  }

  hr {
    display: block;
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
  }
  hr:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
  }
}

@media (max-width: 992px) {
  .tbr-nav {
    display: none;
  }
  p {
    text-align: center;
    color: antiquewhite;
  }
  #img1 {
    width: 270px;
  }
  #img2 {
    width: 250px;
    margin-right: 40px;
  }
  hr {
    color: antiquewhite;
    border-top: medium double antiquewhite;
  }
}
